@model DoAnDiemDanh.Models.SINHVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SINHVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHOA.TenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOA.TenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOP.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP.TenLop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
