
@using DoAnDiemDanh.Models
@{
    ViewBag.Title = "XemDiemDanh";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
    IEnumerable<NHOMMONHOC> NHOMMONHOC = (IEnumerable<NHOMMONHOC>)ViewBag.NHOMMONHOC;
}

<div class="row">
    @foreach (var item in NHOMMONHOC)
    {
        <div class="col-lg-5">
            <!-- Basic Card Example -->
            <div class=" mb-4">
                <div class="courses-container">
                    <div class="course">
                        <div class="course-info">
                            <div class="progress-container">
                                <span class="progress-text">
                                    From: @item.ThoiGianBD - To: @item.ThoiGianKT
                                </span>
                            </div>
                            <h6>GV: @item.GIANGVIEN.TenGV</h6>
                            <h2>@item.MONHOC.TenMH - Nhóm @item.MaNMH</h2>
                            <a class="btn1" href="@Url.Action("KetQua", "SinhVien", new { MaNMH = item.MaNMH })">Xem Kết Quả</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

