@model DoAnDiemDanh.Models.HINHANH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HINHANH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BASE64)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BASE64)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINHVIEN.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINHVIEN.TenSV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
