@model IEnumerable<DoAnDiemDanh.Models.HINHANH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BASE64)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SINHVIEN.TenSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BASE64)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SINHVIEN.TenSV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHA }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHA })
        </td>
    </tr>
}

</table>
